.btn {
    width: 5rem;
    height: 1.7rem;
    margin: 0 0.2rem;
    border: none;
    color: #fff;
}

.btn:focus {
    outline: none;
}

.btn-success {
    background: #00d547;
}

.btn-warning {
    background: #d56000;
}

.btn-primary {
    background: #0052d5;
}